{ "tabWidth": 2, "useTabs": false, "printWidth": 100, "trailingComma": "es5", "arrowParens":
"avoid", "proseWrap": "always", "semi": true, "singleQuote": false, "bracketSpacing": true,
"jsxSingleQuote": false, "bracketSameLine": true, "filepath": "./index.html" }
