// for fonts params

@mixin font-params($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: $size + px;
  line-height: calc($height / $size);
  letter-spacing: $spacing + em;
}

// for transition

@mixin anim-timing($property, $time: 250ms, $cubic: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition: $property $time $cubic;
}
