// basic-colors
$basic-white: #ffffff;
$basic-black: #000000;

// accent-colors
$accent-color: #2196f3;

// text-colors
$main-text-color: #212121;
$secondary-text-color: #757575;

// background-colors
$bg-main-color: #ffffff;
$bg-secound-color: #f5f4fa;
$bg-footer: #2f303a;

// link-colors
$unactive-links: #afb1b8;

// main font-face
$Roboto: "Roboto", sans-serif;

// logo font-face
$Relaway: "Raleway", sans-serif;
